	<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__ROOT__/">
                    <!--<img src="__PUBLIC__/images/logo.png" alt="">-->
                    <p style="color:#fff;margin-top:10px;font-size:22px;margin-right:20px;">舞蹈比赛报名系统</p>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <if condition="isset($_header_menu) && ($_header_menu eq 'MATCH')">
                    <ul class="nav navbar-nav" id="header-nav">
                        <li><a href="javascript:;" class="tooltips" data-placement="bottom" title="{$_match['title']}"><i class="fa fa-trophy"></i> &nbsp;{$_match['title']|str_limit = 20}</a></li>
                        <li><a href="{:U('Match/attend')}"><i class="fa fa-chevron-left"></i> &nbsp;返回我的赛事</a></li>
                        <li data-active="MatchEntry:index"><a href="{:U('MatchEntry/index', ['match_id' => $_match['id']])}">赛事简介</a></li>
                        <li data-active="MatchEntry:signup"><a href="{:U('MatchEntry/signup', ['match_id' => $_match['id']])}">我要报名</a></li>
                        <li data-active="MatchEntry:hasSign"><a href="{:U('MatchEntry/hasSign', ['match_id' => $_match['id']])}">已报名管理</a></li>
                        <li data-active="MatchEntry:team"><a href="{:U('MatchEntry/team', ['match_id' => $_match['id']])}">代表队管理</a></li>
                    </ul>
                <else/>
                    <ul class="nav navbar-nav" id="header-nav">
                        <li data-active="Index:index"><a href="{:U('index/index')}">欢迎页</a></li>
                        <li data-active="Member:index">
                        	<a href="{:U('member/index')}">用户设置</a>                        	
                        </li>
                        <li data-active="Player:index">
                            <a href="{:U('player/index')}">选手管理</a>                         
                        </li>
                        <li data-active="Match:index">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">赛事管理<b class="caret"></b></a>
                        	<ul class="dropdown-menu">
                                <li><a href="{:U('Match/index')}"> 赛事列表</a></li>
                				<li><a href="{:U('Match/attend')}"> 我的赛事</a></li>
                            </ul>
                        </li>
                    </ul>
                </if>

                <ul class="nav navbar-nav navbar-right">
                	<!--
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </li>
                	-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i> <?php echo session('user.username');?> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>-->
                            <li><a href="{:U('account/logout')}">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>