<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file="Public/title" title="欢迎页" />
</head>

<body>
<div class="mainWrap">
	
    <!--标题-->
    <div class="mainWrapHeader">
    	<h1 class="mainWrapTit">欢迎页</h1>
        <ul class="tab-nav clearfix">
            <li class="cur"><a href="#tab-index">欢迎页</a></li>
            <li><a href="#tab-help">帮助说明</a></li>
        </ul>
        <!--切换需要，写对应ID，及class-->
    </div>
    <!--标题-->
    
    <div class="mainWrapBd">
    	<div class="tab-con" id="tab-index">
        	
            欢迎访问！
            
        </div>
        <div class="tab-con" id="tab-help" style="display:none;">
        	暂无帮助说明!
        </div>
    </div>
    
</div>
</body>
</html>