<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file="Public/title" />
</head>

<body>
<div class="mainWrap">
    <!--标题-->
    <div class="mainWrapHeader">
    	<h1 class="mainWrapTit">{$seotitle} <a href="{:U('add')}" class="btn btn_edit"><span>添加</span></a></h1>
    </div>
    <!--标题-->
    
    <div class="mainWrapBd">
        
        <form action="{:U('batchDo')}" method="post" name="doForm" onsubmit="return batchConfirm(this);">
        <!--列表-->
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablelist">
            <colgroup>
                <col style="width:50px;" />
                <col style="width:50px;" />
                <col />
                <col />
                <col />
                <col style="width:150px;" />
                <col style="width:160px;" />
                <col style="width:120px;" />
            </colgroup>
            <thead>
                <tr>
                    <th class="center"><input type="checkbox" class="checkall" /></th>
                    <th class="center">ID</th>
                    <th>管理员账号</th>
                    <th>管理员称呼</th>
                    <th>管理组</th>
                    <th>最后一次登录IP</th>
                    <th>最后一次登录时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            	<volist name="pages['lists']" id="fo">
                <tr>
                    <td align="center"><input type="checkbox" name="id[]" value="{$fo['id']}" <if condition="$fo['id'] eq 1">disabled="disabled"</if> /></td>
                    <td align="center">{$fo['id']}</td>
                    <td>{$fo['username']}</td>
                    <td>{$fo['nickname']}</td>
                    <td>
                    <?php
                    $roles = array();
                    foreach ($fo['Roles'] as $item) {
                        $roles[] = $item['name'];
                    }
                    ?>
                    {$roles|implode=',', ###}
                    </td>
                    <td>{$fo['last_logined_ip']}</td>
                    <td>
                    <if condition="$fo['last_logined_at'] eq 0">
                    暂未登录
                    <else />
                    {$fo['last_logined_at']|format_date}
                    </if>
                    </td>
                    <td>
                        <a href="{:U('edit',array('id'=>$fo['id']))}">修改</a> &nbsp; 
                    </td>
                </tr>
                </volist>
                <if condition="$pages['total'] eq 0">
                <tr>
                    <td align="center" class="data-nothing" colspan="9">暂无相关信息</td>
                </tr>
                </if>
            </tbody>
        </table>
        <!--列表-->
        
        <!--工具-->
        <div class="tableTools clearfix">
            <div class="tableOptions fl">
            </div>
            <div class="fr">
                {$pages['show']}
            </div>
        </div>
        <!--工具-->
        </form>
        
    </div>
    
</div>
</body>
</html>