<extend name="Layouts/app" />

<block name="title">{$seotitle}</block>

<block name="header-skin">
</block>


<block name="head">
<div class="page-heading">
    <h3>
        {$seotitle}
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="__ROOT__/">首页</a>
        </li>
        <li>
            <a href="{:U('index')}">赛事管理</a>
        </li>
        <li class="active"> {$seotitle} </li>
    </ul>
</div>
</block>

<block name="wrapper">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        {$seotitle}
                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal" method="post" action="{:U('signup_store')}" id="form-submit">
                            <input type="hidden" name="match_id" value="{$match['id']}">
                            <div class="form-group">
                                <label class="control-label col-md-2">赛事名称</label>
                                <div class="col-md-10">
                                    <p class="form-control-static"><strong>{$match['title']}</strong></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">代表队名称</label>
                                <div class="col-md-10">
                                    <input type="text" name="team_name" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">带队老师</label>
                                <div class="col-md-10">
                                    <input type="text" name="team_teacher" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">联系方式</label>
                                <div class="col-md-10">
                                    <input type="text" name="team_contact" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">QQ</label>
                                <div class="col-md-10">
                                    <input type="text" name="team_qq" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-primary">报 名</button>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-default" onclick="history.go(-1);">返 回</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>        
        </div>
    </div>
</block>

<block name="bottom-script">
<script>
// 表单提交
$('#form-submit').submit(function(){
    var form = $(this);
    layer.load();

    $.post(form.attr('action'), form.serialize(), function(d){
        layer.closeAll('loading');
        
        if (d.status) {
            window.location.href = d.url;            
        } else {
            layer.msg(d.msg);
            return false;
        }
    }, 'json');

    return false;
})

high_light_menu('Match:index');  // 高亮菜单
</script>
</block>