<link rel="shortcut icon" href="__ROOT__/favicon.ico"/>
<title><if condition="isset($seotitle)">{$seotitle}<else/>[title]</if> - 网站管理系统</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/style/default.css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/plugin/artDialog/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="__PUBLIC__/admin/plugin/artDialog/plugins/iframeTools.source.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/plugin/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/reset.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/master.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/plugin/layer/layer.js"></script>