<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>{$seotitle} - 舞蹈系统</title>

<link href="__PUBLIC__/css/style.css" rel="stylesheet">
<link href="__PUBLIC__/css/style-responsive.css" rel="stylesheet">
<block name="header-skin"></block>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="horizontal-menu-page">

<section>


	<include file="Public/sidebar" />

    <!--body wrapper start-->
    <div class="wrapper">
        <!-- page heading start-->
        <block name="head"></block>
        <!-- page heading end-->

        <!--body wrapper start-->
        <block name="wrapper"></block>
        <!--body wrapper end-->

    </div>
    <!--body wrapper end-->

    <!--footer section start-->
    <include file="Public/footer" />
    <!--footer section end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/modernizr.min.js"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.js"></script>
<script src="__PUBLIC__/plugin/layer/layer.js"></script>
<!--common scripts for all pages-->
<script src="__PUBLIC__/js/scripts.js"></script>
<block name="bottom-script"></block>

<!--全选和反选功能-->
<script type="text/javascript">
    $(function(){
        $('.checkall').change(function(){
            var checkbox=$(this).closest("table").find("input:checkbox");
            $(this).is(":checked")?checkbox.attr("checked",true):checkbox.attr("checked",false);
        })
    });
</script>

</body>
</html>
