<extend name="Layouts/app" />

<block name="title">列表页</block>

<block name="header-skin">
</block>


<block name="head">
<div class="page-heading">
    <h3>
        选手列表
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">首页</a>
        </li>
        <li class="active"> 选手列表 </li>
    </ul>
</div>
</block>

<block name="wrapper">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        选手列表
                    </div>

                    <div class="panel-body">
                        <!-- tools -->
                        <div class="clearfix mb-12">
                            <div class="pull-left">
                                <if condition="$isrealname == true || $usertype==1">
                                <a href="javascript:;" class="btn btn-success" onclick="layer.open({type:2,content:'{:U(\'player/add\')}',title:'添加选手',area:['92%','90%']})"><i class="fa fa-plus"></i> 新增</a>
                                <else/>
                                <a href="javascript:;" class="btn btn-success" onclick="layer.open({type:2,content:'{:U(\'member/nameauth\',array(\'act\'=>\'noreal\'))}',title:'用户实名认证',area:['92%','90%']})"><i class="fa fa-plus"></i> 新增</a>
                                </if>
                            </div>
                        </div>
                        <p></p>
                        <!-- tools -->

                        <!-- 表格 -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th width="60">ID</th>
                                            <th width="220">姓名</th>
                                            <th width="220">性别</th>
                                            <th width="220">身份证号码</th>                              
                                            <th width="220">岁数</th>
                                            <th width="120">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <volist name="list" id="i">
                                        <tr>
                                            <td>{$i.id}</td>
                                            <td>{$i.name}<if condition="$i['is_self'] == '1'"><span style="color:red">(本人)</span></if></td>
                                            <td><if condition="$i['sex'] == 1">男<else/>女</if></td>
                                            <td>{$i.idcard}</td>
                                            <td><?php echo calcAge(strtotime($i['birthday']));?>岁</td>
                                            <td><if condition="$i['is_self'] != '1'"><a href="{:U('delete',array('id'=>$i['id']))}" onclick="return confirm('确认删除吗？');">删除</a></if></td>
                                        </tr>
                                        </volist>
                                        <if condition="$pages['total'] eq 0">
                                        <tr>
                                            <td align="center" class="data-nothing" colspan="9">暂无相关信息</td>
                                        </tr>
                                        </if>
                                    </tbody>
                                </table>
                            </div>
                        </div>                    
                        <!-- 表格 -->

                       <!--分页-->
                        <div class="clearfix list-pagination">
                            <div class="pull-right">
                                {$pages['show']}
                            </div>
                        </div>
                        <!--分页-->
                        
                    </div>
                </div>

            </div>        
        </div>
    </div>
</block>

<block name="bottom-script">
<script>
high_light_menu('{:U('Index/lists')}');  // 高亮菜单
</script>
</block>