<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file="Public/title" />
</head>

<body>
<div class="mainWrap">
    <!--标题-->
    <div class="mainWrapHeader">
    	<h1 class="mainWrapTit">{$matchname}
            <a href="{:U('Entered/matchlist',array('type'=>'zf'))}"  class="btn btn_folder" ><span>返回赛程列表</span></a>
            <a href="{:U('Entered/export',array('match_id'=>$match_id))}"  class="btn btn_folder" ><span>导出</span></a>
        </h1>
        
    </div>
    <!--标题-->

    
    <div class="mainWrapBd">
        
        <form action="{:U('batchDo')}" method="post" name="doForm" onsubmit="return batchConfirm(this);">
        <!--列表-->
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablelist">

            <colgroup>
                <col style="width:10px;" />
                <col style="width:50px;" />
                <col style="width:280px;"/>
                <col />
                <col />
                <col />
                <col />
                <col/>
            </colgroup>
            <thead>
                <tr>
                    <th class="center">ID</th>
                    <th>用户名</th>
                    <th>代表队名称</th>
                    <th>已报项数</th>
                    <th>参赛人数</th>
                    <th>代表队老师</th>
                    <th>联系方式</th>
                    <th>联系qq</th>
                    <th>金额</th>
                    <th>支付状态</th>
                    <th>支付时间</th>
                    <th>确认时间</th>           
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            	<volist name="pages['lists']" id="fo">

                    <?php
                       $rr = M("match_event_entrys")->where(array("match_id"=>$fo['match_id'],'event_id'=>$fo['event_number']))->select();
                       //var_dump($rr);
                    ?>
                <tr>
                    
                    <td align="center">
                    	{$fo['id']}
                    </td>
                    <td>
                    	{$fo['username']}
                    </td>
                    

                        <?php //var_dump($rr);
                        $c= 0;
                        foreach($rr as $k1=>$v1){
                            $count = M("match_event_entry_player")->where(array("event_entry_id"=>$v1['id']))->count();
                            $c += $count;
                        }
                        //echo $c

                        ?>
                    
                    
                    <td>
                    	{$fo['team_name']}
                    </td>

                    <td>
                        <?php
                            $map['match_id'] = I('id');
                            $map['uid'] = $fo['uid'];
                            $rs = M("match_event_entrys")->where($map)->select();
                            echo count($rs);
                            $c= 0;
                            foreach($rs as $k1=>$v1){
                                $player = M("match_event_entry_player")->where(array("event_entry_id"=>$v1['id']))->select();
                                //var_dump($player);
                                foreach ($player as $key => $value) {
                                    $playid[] = $value['player_id'];
                                }

                               
                            }
                            $new = array_unique($playid);

                        ?>
                        
                    </td>
                    <td>
                        <?php echo count($new);?>
                    </td>

                    <td>
                    	{$fo['team_teacher']}
                    </td>
                    <td>
                    	{$fo['team_contact']}
                    </td>
                    <td>
                        {$fo['team_qq']}
                    </td>
                    <td>
                        {$fo['amount']}
                    </td>
                    
                    <td>
                    	<if condition="$fo['transfer_status'] == 0">
                    		<span style="">未支付</span>
                    	<elseif condition="$fo['transfer_status'] == 1"/>
                    		<span style="color:green">已审核</span>	
                    		<elseif condition="$fo['transfer_status'] == 2"/>
                    		<span style="color:green">已取消</span>
                    	<elseif condition="$fo['transfer_status'] == 3"/>
                    		<span style="color:red">待审核</span>
                    	</if>
                    </td>
                    <td>
                        <if condition="$fo['transfer_time'] != 0">
                    	{$fo['transfer_time']|format_date}
                        <else/>
                        -
                        </if>
                    </td>
                    <td>
                        <if condition="$fo['transfer_end_time'] != 0">
                    	{$fo['transfer_end_time']|format_date}
                        <else/>
                        -
                        </if>
                    </td>

                    <td>
                        <a href="{:U('pay_audit_pass',array('id'=> $fo['id']))}">确认</a> &nbsp;&nbsp; 
                        <!-- <a href="{:U('audit_nopass',array('id'=> $fo['id']))}">取消</a> &nbsp;&nbsp;  -->
                    </td>
                </tr>
                </volist>
                <if condition="$pages['total'] eq 0">
                <tr>
                    <td align="center" class="data-nothing" colspan="11">暂无相关信息</td>
                </tr>
                </if>
            </tbody>
        </table>
        <!--列表-->
        
        <!--工具-->
        <div class="tableTools clearfix">
            <!-- <div class="tableOptions fl">
                <input type="checkbox" name="sub" class="submit"  id="chkAll"/>全选/反选
                <input type="button" name="sub" class="submit" value="批量审核" id="sub"/>
            </div> -->
            <div class="fr">
                {$pages['show']}
            </div>
        </div>
        <!--工具-->
        </form>
        
    </div>
    
</div>
</body>
</html>

<script type="text/javascript">
    $("#chkAll").click(function(){
        if($(this).attr("checked") == 'checked'){
            $(".stdtable input[type='checkbox']").attr("checked",$(this).attr("checked"));
        }else{
            $(".stdtable input[type='checkbox']").attr("checked",false);
        }
        
    })

    $("#sub").click(function() {
        var arr = $(".stdtable input[type='checkbox']").val();
        var vals="";
        $(".stdtable input[type='checkbox']").each(function(){ 
            if($(this).prop("checked")==true){ 
            vals += $(this).val()+",";
        } 
        }); 
        if(vals == ''){
            alert("请选择组别然后才能批量审核");
            return false;
        }

        $.post('{:U('batch_pass')}', {'id_str': vals}, function(d){
            
            if (d.status) {
                //当你在iframe页面关闭自身时          
                var index = parent.layer.getFrameIndex(window.top.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭 
                window.location.reload();
                           
            } else {
                layer.msg(d.msg);
                return false;
            }
        }, 'json');

        return false;

    });
</script>